/* 
* {
    box-sizing: border-box;
    bottom: 0;
    
  }
  h2{
    align-items: center;
  }
 
  
  .container4 {
    width: 700px;
    height: 950px;
    
    
  }
  
  /* .form-group {
    margin-bottom: 5px;
  }
   */
  /* label {
    display: block;
    color: black;
    font-weight: bold;
  }
  
  input{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
  } */
  
  /* input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
 
  
  @media (max-width: 600px) {
    .form-container {
      max-width: 100%;
      padding: 0 10px;
    }
  } */ 
  .login-form1 {
    width: 600px;
    padding: 15px;
    background: #a8c1c4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(156, 53, 53, 0.2);
    bottom: 0;
  }
/* .userFor{
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
} */
.form-group1{
  margin-bottom: 20px;
}
label{
  font-weight: bold;
}
input[type="text"]{
  width: 100%;
  padding: 10px;
  border: ipx solid #ccc;
  border-radius: 4px;

}
.btn {
  width: 20%;
  padding: 10px;
  /* background: blue; */
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}